.addonCard_start {
    background-color: #f6f4f4 !important;
  }
  .card-title span {
    font-weight: bold;
  }
  .mandatoryIcon{
    color: red;
    font-size: 20px;
    padding: 4px;
  }
  .table_responsive{
    overflow: auto !important;
    max-height: 500px !important;
  }
  .wrap_text {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .button {
    display: flex;
    align-items: center;
    
  }
  .pointer{
    cursor: pointer;
  }
  .table_responsive p{
    margin-bottom: 0px;
  }
  .table_tr{
    position: relative;
  }
  .table_td{
    position: absolute;
    right: 0;
  }
  .menu_btn {
    width: inherit;
  }