.image {
    position: relative; 
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
  }
  .card_start {
    max-width: 100%;
    min-width: 100%;
    background-color: #f6f4f4;
  }
  .event_detail {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
  }  
  .profilePic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
  }
  .card_description {
    width: 400px;
    text-align: start;
  }
  .event_name {
    font-weight: 600;
  }
  .card_body {
    color: black;
  }
  .seeMoreLess {
    color: #007bff; 
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: -22px;
    margin-left: -14px;
  }
  
  .seeMoreLess:hover {
    text-decoration: underline;
  }
  .menu_btn {
    width: 460px;
  }
  .eventBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px ;
  }
  .qr_code {
    display: block;
    margin: 0px auto;
    max-width: 200px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .card-btn {
    position: relative;
    margin: 10px 7px;
    border: 1px solid #cccfd2;
  }
  