.image {
    position: relative; 
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
  }
  .eventBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .card_start {
    max-width: 100%;
    min-width: 100%;
    background-color: #f6f4f4;
  }
 
  .card_body {
    color: black;
  }
  .ticket_detail {
    align-items: center;
    padding: 6px 10px ;
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
  }
  .icon {
    margin-left: 5px;
  }
  .card_title span {
    font-weight: bold;
  }
  .address {
    text-align: start;
    padding-left: 10px;
    margin-bottom: 6px;
  }
  .address_link {
    color: black;
  }
  .event_name {
    font-weight: 600;
  }
  .user_details {
    display: grid;
    /* justify-content: center; */
    align-items: start;
  }
  .menu_btn {
    width: 460px;
  }
  .ul_decorator ul {
    list-style-type: none;
  }
  .checkbox {
      cursor: pointer;
      border: initial;
      margin-right: 15PX;
      color: white !important;
}
.amount {
  display: grid;
  justify-content: end;
}
