.eventBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.event_name {
  font-weight: 600;
}

.card_footer {
  max-width: 460px !important;
  /* min-width: 460px !important; */
  width: 100%;
  background-color: black !important;
  color: #fff !important;
  margin-top: 16px;
}
.footer_imgs {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.card_start {
  max-width: 100%;
  min-width: 100%;
  background-color: #f6f4f4;
}
